[user]
	name = Laoujin
	email = woutervs@hotmail.com

[merge]
	tool = bc3

[mergetool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe

[diff]
	tool = bc3
	guitool = kdiff3

[difftool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	amend = commit -a --amend --no-edit
	dt = difftool
    mt = mergetool

[difftool "bc3"]
	path = C:\\Program Files (x86)\\Beyond Compare 3\\bcomp.exe

[mergetool "bc3"]
	path = C:\\Program Files (x86)\\Beyond Compare 3\\bcomp.exe

[core]
	autocrlf = true
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	
[push]
	default = simple

[credential]
	helper = !'C:\\Users\\Wouter\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'

[color "status"]
	changed = magenta bold
	untracked = magenta bold

[color "diff"]
	meta = blue white
	frag = normal bold
	old = magenta bold
	new = green bold